/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7
                &kp TAB &kp LCTRL &kp LSHFT &kp LALT &kp SPACE &kp ENTER &kp ESC
            >;
        };
    };
};
